[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ddt = "*"
"flake8" = "*"
isort = "*"
mypy = "*"

[packages]
beautifulsoup4 = "*"
feedparser = "*"
luigi = "*"
lxml = "*"
python-twitter = "*"
regex = "*"
requests = "*"
colored = "*"
psycopg2 = "*"
